@font-face {
  font-family: 'curriculum-icons';
  src:  url('../assets/fonts/curriculum-icons.eot?k33d2u');
  src:  url('../assets/fonts/curriculum-icons.eot?k33d2u#iefix') format('embedded-opentype'),
    url('../assets/fonts/curriculum-icons.ttf?k33d2u') format('truetype'),
    url('../assets/fonts/curriculum-icons.woff?k33d2u') format('woff'),
    url('../assets/fonts/curriculum-icons.svg?k33d2u#curriculum-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="extra-icon-"], [class*=" extra-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'curriculum-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.extra-icon-home:before {
  content: "\e900";
}
.extra-icon-newspaper:before {
  content: "\e904";
}
.extra-icon-book:before {
  content: "\e91f";
}
.extra-icon-books:before {
  content: "\e920";
}
.extra-icon-file-text:before {
  content: "\e922";
}
.extra-icon-price-tags:before {
  content: "\e936";
}
.extra-icon-address-book:before {
  content: "\e944";
}
.extra-icon-pushpin:before {
  content: "\e946";
}
.extra-icon-stopwatch:before {
  content: "\e952";
}
.extra-icon-display:before {
  content: "\e956";
}
.extra-icon-mobile2:before {
  content: "\e959";
}
.extra-icon-drawer:before {
  content: "\e95c";
}
.extra-icon-database:before {
  content: "\e964";
}
.extra-icon-bubbles4:before {
  content: "\e970";
}
.extra-icon-user-tie:before {
  content: "\e976";
}
.extra-icon-quotes-left:before {
  content: "\e977";
}
.extra-icon-quotes-right:before {
  content: "\e978";
}
.extra-icon-aid-kit:before {
  content: "\e998";
}
.extra-icon-menu:before {
  content: "\e9bd";
}
.extra-icon-link:before {
  content: "\e9cb";
}
.extra-icon-embed2:before {
  content: "\ea80";
}
.extra-icon-mail4:before {
  content: "\ea86";
}
.extra-icon-google-plus:before {
  content: "\ea8b";
}
.extra-icon-facebook:before {
  content: "\ea90";
}
.extra-icon-instagram:before {
  content: "\ea92";
}
.extra-icon-whatsapp:before {
  content: "\ea93";
}
.extra-icon-telegram:before {
  content: "\ea95";
}
.extra-icon-twitter:before {
  content: "\ea96";
}
.extra-icon-tux:before {
  content: "\eabd";
}
.extra-icon-appleinc:before {
  content: "\eabe";
}
.extra-icon-android:before {
  content: "\eac0";
}
.extra-icon-windows8:before {
  content: "\eac2";
}
.extra-icon-linkedin2:before {
  content: "\eaca";
}
.extra-icon-pinterest2:before {
  content: "\ead2";
}
.extra-icon-foursquare:before {
  content: "\ead6";
}
.extra-icon-chrome:before {
  content: "\ead9";
}
.extra-icon-firefox:before {
  content: "\eada";
}
.extra-icon-edge:before {
  content: "\eadc";
}

